html,body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F7F7F7;
    margin-top: 0px;
}

.box {
    height: 85%;
    margin-left: 30%;
    margin-right: 30%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px rgb(59, 59, 59);
    border-radius: 1px;
    opacity: 1;
    margin-top: 1%;
}

.left-label {
    width: 25%;
    text-align: left;
    float: inline-start;
    color: rgb(56, 56, 56);
    font-size: 90;
    margin-block: auto;
}

.flexbox {
    box-sizing: border-box;
    font-size: 90%;
    text-align: left;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    padding: 2.5%;
    padding-left: 10%;
}

.navbar-brand {
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    color: #82A70C;
}

#fullname, textarea {
    width: 60%;
    line-height: 1.8em;
}

#Emptxt {
    font-size: 150%;
    font-weight: bold;
    margin-top: 1%;
    color: gray;
}

.navbar {
    color: rgb(92, 88, 83);
    font-size: 20px;
    background-color: oldlace;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

img {
    width: 50px;
    height: 50px;
}

.profileimage {
    width: 9%;
    height: 9%;
    padding-right: 2%;
}

.right-label {
    padding-top: 1px;
    padding-right: 5px;
    font-size: 90%;
    color: rgb(56, 56, 56);
}

select#salary {
    width: 30%;
}

select {
    color: rgb(56, 56, 56);
    margin-right: 2%;
    width: 15%;
    height: 25px;
}

.btn {
    width: 20%;
    height: 30px;
    box-shadow: 0px;
    border-style: solid;
    border-radius: 3px;
    border-width: thin;
    border-color: gray;
}

#cancel {
    margin-right: auto;
}

input[type="submit"]{
    margin-right: 5%;
}

#submit-form:hover, #submit-form:focus{
    background-color: rgb(0, 180, 0);
}

.btn:hover, #reset:hover, #reset:focus{
    background-color: gray;
}
